nav p span{
    color: orangered;
    display: inline-block;
    transform: skewY(-5deg);
}



.imaga{
    flex: 1;
}
.bot p span{
    color: orangered;
}
.highlit{
    background-color: purple;
}
.tem{
    width: 55%;
}

@media screen and (max-width:800px){
    .tem{
        width: 100%;
        margin-top: -5vw;
    }

    
}
