<nav class="navbar navbar-expand-lg navbar-light bg-light p-3 d-flex flex-column justify-content-centre align-items-center">
    <div>
        <p class="fs-1">Mic- <span>quotes</span>.com</p>
        <p>Getting your quotes has never been easy</p>
    </div>
  </nav>
  <div class="form mx-auto text-center mt-2">
    <app-form (quoteEvent)="addQuote($event)"></app-form>
  </div>

  <!-- the quotes template -->
  <div *ngFor="let i of allQuotes;index as index" class="d-flex w-50 mt-5 border round p-4 mx-auto bg-light flex-column justify-content-evenly align-items-center">
      <div class="head  d-flex justify-content-around">
          <p class="text-muted me-5">on <span class="text-info fs-3">{{i.title}}</span></p>
          <div class="del">
              <button class="btn btn-danger" type="button" (click)="delete(index)">Delete</button>
          </div>
          

      </div>
      <hr>
      <div class="bod d-flex justify-content-evenly " >
          <div class="imgr imaga">
              <img src="../assets/images/right.svg" alt="left-quote">
          </div >
          <div class="cont">
              <p class="fs-3 text-warning">{{i.content}}</p>

          </div>
          <div class="imgl imaga">
              <img src="../assets/images/left.svg" >
          </div>


      </div>
      
      <div class="bot">
          <p>-Author:{{i.author}}</p>
          <div class="bts ">
              <button (click)="upv(index)"  class="btn btn-success d-inline-block me-3 "> <i class="fa-solid fa-thumbs-up"></i> {{i.upVote}}</button>
              
              <button (click)="downv(index)" class="btn btn-success">{{i.downVote}}</button>
              
          </div>
          <div class="dat">{{i.date}}</div>
      </div>

      <br>
      


  </div>
  

 
