nav p span{
    color: orangered;
    display: inline-block;
    transform: skewY(-5deg);
}

.imaga img{
    width: 4vw;
    height: 7vw;
}

.imaga{
    flex: 1;
}
.bot p span{
    color: orangered;
}