<nav class="navbar navbar-expand-lg navbar-light bg-light p-3 d-flex flex-column justify-content-centre align-items-center">
    <div>
        <p class="fs-1">Mic- <span>quotes</span>.com</p>
        <p>Getting your quotes has never been easy</p>
    </div>
  </nav>

  <!-- the quotes template -->
  <div class="quote">
      <div class="head">
          <p>on <span></span></p>

      </div>
      <hr>
      <div class="bod">
          <div class="imgr imaga">
              <img src="../assets/images/left.svg" alt="left-quote">
          </div >
          <div class="cont">

          </div>
          <div class="imgl imaga">
              <img src="../assets/images/right.svg" alt="right-quote">
          </div>


      </div>


  </div>
  